Package: file-monitor
Version: 1.6-1
Section: admin
Priority: optional
Architecture: all
Depends: auditd, bash (>= 4.0), coreutils, systemd
Maintainer: Алексей Рыбянец rybyanetsadm@yandex.ru
Description: Monitors integrity of critical system files using auditd
 This tool watches specified system files and logs any changes (content or metadata)
 via Linux Audit subsystem. Includes diff detection and systemd service.
